.skills .container .row .column .skill {
  font-family: "RalewayRegular";
  font-size: 25px;
  line-height: 1.6;
  letter-spacing: 2px;
  text-align: left;
  margin: 5px 0 5px 0;
}

/* Device = Laptops, Desktops */
@media all and (min-width: 1024px) and (max-width: 1280px) {
  .skills .container .row .column .skill {
    font-size: 20px;
  }
}

/* Tablets, Ipads (portrait) */
@media all and (min-width: 768px) and (max-width: 1024px) {
  .skills .container .row .column .skill {
    font-size: 16px;
  }
}

/* Device = Low Resolution Tablets, Mobiles (Landscape) */
@media all and (min-width: 480px) and (max-width: 768px) {
  .skills .container .row .column .skill {
    font-size: 16px;
  }
}

/* Device = Most of the Smartphones Mobiles (Portrait) */
@media all and (max-width: 480px) {
  .skills .container .row .column .skill {
    font-size: 16px;
  }
}
