.skills .label {
  position: relative;
  margin: 0;
  text-align: left;
  z-index: 1;
  width: fit-content;
  margin-right: 0;
  margin-left: auto;
}

.skills .label span {
  font-family: "RalewayBold";
  font-size: 120px;
  opacity: 0.1;
}
