@import url("../utils/global.css");

.avatar-box {
  width: 430px;
}

.avatar {
  width: 57px;
  min-width: 57px;
  height: 57px;
  min-height: 57px;
  margin: 0 auto;
  border: 1px solid var(--avatar-circle-color);
  border-radius: 50%;
  background-image: var(--avatar);
}

@media only screen and (max-width: 1024px) {
  .avatar-box {
    width: 70px;
    text-align: left;
  }
}
