@import url("../utils/global.css");

.more {
  color: var(--text-color);
  font-weight: 500;
  font-family: "Gill Sans Nova", sans-serif;
}

.more a {
  color: var(--text-color);
  text-decoration: none;
}
