.content-placeholder-text {
  width: 92%;
  height: 9px;
  display: block;
  margin: 15px 0px 15px 0px;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
  background-color: var(--content-placeholder-background-color);
  transition: width 500ms ease-in;
}

.content-placeholder-gradient {
  width: 70%;
  display: block;
  height: inherit;
  position: absolute;
  animation: loading-animation 1s linear infinite;
  background: linear-gradient(
    to right,
    var(--content-placeholder-animation-outer-color),
    var(--content-placeholder-animation-middle-color),
    var(--content-placeholder-animation-outer-color)
  );
  background: -moz-linear-gradient(
    left,
    var(--content-placeholder-animation-outer-color),
    var(--content-placeholder-animation-middle-color),
    var(--content-placeholder-animation-outer-color)
  );
  background: -webkit-linear-gradient(
    left,
    var(--content-placeholder-animation-outer-color),
    var(--content-placeholder-animation-middle-color),
    var(--content-placeholder-animation-outer-color)
  );
}

@keyframes loading-animation {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(300%);
  }
}
