@import url("../utils/global.css");

.education {
  width: 430px;
}

.education p {
  margin: 0;
  margin-top: 5px;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 300;
  font-family: "Lato", sans-serif;
}

.education-place {
  margin-left: 40px;
}

.education-degree {
  display: block;
  margin-left: 151px;
  margin-top: 5px;
}

.education-ruler {
  position: absolute;
  margin-top: -36px;
  padding-left: 129px;
}

.line {
  height: 26px;
  margin-top: 5px;
  margin-top: -1px;
  border-left: 1px solid var(--ruler-color);
}

.circle {
  width: 7px;
  height: 7px;
  margin-left: -4px;
  border: 1px solid var(--ruler-color);
  border-radius: 50%;
}

@media only screen and (max-width: 500px) {
  .education {
    width: 90vw;
  }
}
