@import url("../utils/global.css");

.projects {
  margin-top: 20px;
  width: 430px;
}

.projects a {
  text-decoration: none;
}

.item {
  margin: 0;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  margin-top: 5px;
  cursor: pointer;
}

.item-name:hover {
  font-weight: 400;
}

.item:hover .item-name {
  font-weight: 400;
  color: var(--technology-highlight-text-color);
}

.item:hover .highlight {
  font-weight: 400;
  color: var(--technology-highlight-text-color);
}

@media only screen and (max-width: 500px) {
  .projects {
    width: 90vw;
  }
}
