@import url("../utils/global.css");

.social-media {
  margin-top: 24px;
}

.social-media a {
  margin: 10px;
  fill: #adb0b6;
}

.social-media a:hover {
  fill: var(--highlight-text-color);
  width: 20px;
  height: 20px;
  transition: 0.2s ease-in;
}

@media only screen and (max-width: 1024px) {
  .social-media {
    float: left;
    margin-top: 12px;
  }

  .social-media a {
    margin: 0px;
    margin-right: 15px;
  }
}
