@import url("../utils/global.css");

.toolbox {
  margin-top: 20px;
  width: 430px;
}

.toolbox-item {
  margin: 0;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  margin-top: 5px;
}
