html {
  --primary-color: #932eff;
  --background-color: #101214;
  --title-color: #ffffff;
  --text-color: #7a7c80;
  --ruler-color: #adb0b6;
  --progress-color: #454954;
  --progress-fill: #ffffff;
  --avatar: url("./images/avatar-dark.png");
  --avatar-circle-color: #ffffff;
}

html[data-theme="light"] {
  --primary-color: #932eff;
  --background-color: #ffffff;
  --title-color: #666666;
  --text-color: #7a7c80;
  --ruler-color: #adb0b6;
  --progress-color: #bfbfbf;
  --progress-fill: #932eff;
  --avatar: url("./images/avatar.png");
  --avatar-circle-color: #932eff;
}
