.intro .container .title {
  text-align: center;
}

.intro .container .title span {
  font-family: "RalewayRegular";
  font-size: 25px;
  letter-spacing: 2px;
}

/* Device = Laptops, Desktops */
@media all and (min-width: 1024px) and (max-width: 1280px) {
}

/* Tablets, Ipads (portrait) */
@media all and (min-width: 768px) and (max-width: 1024px) {
  .intro .container .title span {
    font-size: 20px;
  }
}

/* Device = Low Resolution Tablets, Mobiles (Landscape) */
@media all and (min-width: 480px) and (max-width: 768px) {
  .intro .container .title span {
    font-size: 20px;
  }
}

/* Device = Most of the Smartphones Mobiles (Portrait) */
@media all and (max-width: 480px) {
  .intro .container .title span {
    font-size: 16px;
  }
}
