.intro {
  width: 100vw;
  height: 100vh;
  min-height: 100%;
  box-sizing: border-box;
  display: block;
  position: relative;
  overflow-x: hidden;
}

.intro .container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
