.card {
  width: calc(50% - 50px);
  height: calc(100% - 50px);
  max-width: 50%;
  overflow: visible;
  position: fixed;
  top: 0;
  left: 0;
  margin: 25px;
  margin-left: calc((100% - (100vw - 75px)) / 2);
}

.card .container {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Ultrawide */
@media all and (min-width: 1921px) {
  .card {
    margin-left: calc((100% - 1845px) / 2);
  }
}
